<h1>Navigation</h1>
<a routerLink="/home">Home </a>
<a routerLink="/documents">Docs </a>
<a routerLink="/proposals">Proposals </a>
<a routerLink="/proposals/new">New Proposal</a>

<router-outlet></router-outlet>

<br>
<strong> all about bluebarries </strong> <br>
bluebarries are barries and they are blue there is so many barries <br>
they are so healthy and dellishouse they give a lot of vitamins  <br>
 they are fruits and it funchons your body and keeps us healthy
<br>there are a lot of blue items in the world and one of those ore fruits and its bluebarries <br>

<em>fatima elmarini</em>
